{% from "macros/pagination.html" import render_pagination %}
<!DOCTYPE html>
<html>

    <head>
        <title> {{ this.title }} &middot; {{ config.project.name }} </title>

        {% include "partials/head.html" %}
    </head>

    <body>
        {% include "partials/header.html" %}
        <div class="container wrapper">
            <h1><a href="{{ post|url }}">{{ post.title }</a></h1>
            <span class="post-date">{{ post.pub_date.strftime('%b %d, %Y') }}</span>
            <div class="post-content">
                {{ post.body }}
            </div>
            {% if not config.params.nocomments  %}
            <div class="post-comments">
                {{ render_disqus_comments() }}
            </div>
            {% endif %}
            <div class="push"></div>
        </div>
        {% include "partials/footer.html" %}
    </body>
